<mat-toolbar color="primary" class="main-toolbar">
  <span class="brand">{{ title }}</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/movies">Browse</a>
  <a mat-button routerLink="/profile" *ngIf="currentUser$ | async as user"
    >Profile</a
  >
  <a mat-button routerLink="/login" *ngIf="(currentUser$ | async) === null"
    >Login</a
  >
  <button
    mat-icon-button
    color="accent"
    (click)="logout()"
    *ngIf="currentUser$ | async"
    aria-label="Logout"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<main class="app-container">
  <router-outlet></router-outlet>
</main>
